<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <audio
      src=""
      controls
      loop
      id="autio"
      >
      您的浏览器不支持 audio标签。
    </audio>
  <button onclick="go()">开始</button>
  <button onclick="play()">播放音乐</button>
  <button onclick="r()">run</button>
  <script>
    let b = ''
    let sto = false
    function go() {
      // setTimeout(()=> {
      document.getElementById('autio').muted = true
      document.getElementById('autio').play()
      b = setTimeout(()=> {
        console.log('12312313')
        document.getElementById('autio').src = '../static/mp3/music.mp3'
        document.getElementById('autio').currentTime = 0;
        document.getElementById('autio').play()
        document.getElementById('autio').muted = false
      },sto)
    }
    function play() {
      sto = true
    }
    function r() {
      clearTimeout(b)
      b = ''
      sto = false
      document.getElementById('autio').currentTime = 0;
      document.getElementById('autio').muted = false
      document.getElementById('autio').pause()
    }
  </script>
</body>
</html>