@import './color.css';
@import './layout.css';
@import './iconfont.css';

html,body {
  background-color: #fbfbfb;
  min-height: 100%;
}
/* main {
  background-color: #fbfbfb; 
} */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* kbone表单 */
.weui-cell__bd {
  display: flex;
}